Body {
 color: white;
 background: pink;
 margin: 0px;
}

header {
    border-bottom: solid 5px rgb(160, 6, 121);
    padding: 20px;
    font-size: 32px;
    color: rgb(160, 6, 121);
}

section {
    background: rgb(184, 89, 105);
    padding-bottom: 80px;
    padding-top: 80px;
}